.form {
  height: 90px;
  width: calc(100% - 300px);
  box-sizing: border-box;
  padding: 20px 40px 0 40px;
  background-color: #ddd;
  position: absolute;
  bottom: 0;
}

.input-box {
  float: left;
  position: relative;
  width: 100%;
  &__text {
  background-color: white;
  height: 50px;
  width: calc(100% - 165px);
  padding: 0 40px 0 10px;
  color: #434a54;
  border-style: none;
  }
  &__image {
    width: 0;
    height: 0;
    font-size: 1.3rem;
    position: absolute;
    top: 10px;
    right: 147px;
    cursor: pointer;
  }
  &__submit-button {
    // display: inline-block;
    float: right;
    width: 100px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: white;
    cursor: pointer;
  }
}

.hidden {
  height: 0;
  width: 0;
  visibility: hidden;
}


// .submit-button {
//   float: right;
//   width: 100px;
//   height: 50px;
//   padding: 0 30px;
//   margin-left: 15px;
//   background-color: #38aef0;
//   color: white;
//   cursor: pointer;
// }
