@import "./reset";
@import "colors.scss";
@import "flash.scss";
@import "font-awesome";
@import "_variable.scss";
@import "_header.scss";
@import "_chat-side.scss";
@import "_chat-main.scss";
@import "_form.scss";
@import "user.scss";
@import "group.scss";


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

